<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="search-card">
    <ion-card-title class="ion-padding-top ion-text-center">
      <ion-text>
        <span class="quote-msg"><span class="warning">Food</span>&nbsp;for me, has always been an adventure&nbsp;</span>
      </ion-text>
    </ion-card-title>

    <ion-card-content>
      <ion-searchbar showCancelButton="focus" animated placeholder="Tags, Name ..."></ion-searchbar>
    </ion-card-content>
  </ion-card>


</ion-content>
